# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
dist/
build/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# OS
.DS_Store
Thumbs.db
